.step.advice#advice(data-x="-3000", data-y="0", data-z="1000", data-rotate-y="-90")
  p Da, suntem pasionați de Advertising. Ai putea spune că este viciul nostru. Asta ne face pe noi ce ceea suntem. Advice. Young creatives at work.
  p Am apărut acum 11 ani în urma unui experiment, în numele experimentării. Am vrut doar să fim parte din mediul de care atât de mulți dintre noi erau atrași, The Creative Industry.
  p Știam că dinamismul industriei nu ține cont de status-quo. Și mai știam că spiritul competitiv al domeniului este alimentat de idei creative, de neconvențional și de simplitate. Ei bine, de-aia suntem aici: să oferim studenților mijloacele practice și contextul potrivit pentru a deveni viitoarea generație de, ceea ce noi numim, creativi profesioniști.
  a(href="#advice-2")
    span.next
      i.icon-double-angle-right
      br
      span.text continuă
.step.advice#advice-2(data-x="-5000", data-y="0", data-z="1000", data-rotate-y="90")
  p Ne specializăm în advertising, marketing, human resources, web-development, event planning, public relations, client service și project management, iar pe toate le facem open-minded, cu pasiune, într-un spirit revoluționar.
  p 
   | Organizăm conferințe precum 
   a(href="http://adrev.ro/", target="_blank") AdRev
   |  unde reușim să adunăm nume mari din marcomm-ul autohton care să le vorbească studenților despre industrie, altfel decât la facultate. Avem școli gratuite 
   a(href="http://teach-me.ro/", target="_blank") de publicitate
   | , 
   a(href="http://thinkstrategy.ro", target="_blank") de strategie
   | , 
   a(href="#home") de creativitate
   |  și chiar 
   a(href="http://imprint.ro.im/", target="_blank") concursuri de grafică
   | .
  p De 11 ani, sute de studenți, acum profesioniști, au experimentat nemijlocit viața în industria creativă a Bucureștiului și au făcut-o bucuroși alături de noi.
  p 
    | Suntem mulți, suntem colorați, suntem visători, grăbiți și timizi, organizați și curioși, mai artiști sau mai serioși. În drumul spre The Creative Industry, am creat un Creative Playground. Răsfoieşte-ne lumea pe 
    a(href="http://advicestudents.ro/", target="_blank") www.advicestudents.ro
    | .