.step#aplica(data-x="0", data-y="1000", data-z="1000", data-rotate-x="-90")
  p Ştim că eşti altfel şi de asta ne placi. Aşa că nu putem să-ţi dăm un formular standard. Fă-ţi următorul test şi află ce nuanţă de albastru are creativitatea ta. Apoi vei primi un formular de aplicaţie potrivit pentru tine.
  a.btn.btn-aplica(href="#test-1") Începe testul