.step#cb(data-x="-1000", data-y="0", data-z="1000", data-rotate-y="90")
  p Eşti tânăr, iar imaginaţia te plimbă şi uneori te pierde printre idei. Tu trăieşti povestea, o înţelegi şi chiar o simţi. Dar prietenii tăi parcă au greşit sala de cinema. În publicitate, filmele bune sunt creative, dar biletele se vând cu un trailer relevant sau un poster eficient.
  a(href="#cb-2")
    span.next
      i.icon-double-angle-right
      br
      span.text continuă
.step#cb-2(data-x="-1000", data-y="2000", data-z="1000", data-rotate-y="90")
  p Dacă ideea e nebună, iar la sfârşitul campaniei poţi bifa liniştit obiectivele din brief, eşti un creativ eficient. Dar precis ai dat de campanii care îţi plac, dar nu te prinzi ce promovează căci vizualul e din altă poveste, iar textul te bagă şi mai mult în ceaţă.
  a(href="#cb-3")
    span.next
      i.icon-double-angle-right
      br
      span.text continuă
.step#cb-3(data-x="-2000", data-y="2000", data-z="0", data-rotate-y="180")
  p De aceea am făcut cea de-a cincea ediţie Creativity Blueprints, unde afli cum se îmbină creativitatea cu eficienţa în publicitate.
  p Creativity Blueprints este singura şcoală gratuită de creaţie în publicitate, unde, timp de 10 zile, 20 de studenţi cu skilluri de Copywriter sau Art Director participă la workshopuri ţinute de profesionişti din publicitatea românească.
  a(href="#cb-4")
    span.next
      i.icon-double-angle-right
      br
      span.text continuă
.step#cb-4(data-x="-3000", data-y="2000", data-z="1000", data-rotate-y="270")
  p
    | Accesează secţiunea 
    a(href="#program") Program
    |  şi află mai multe despre speakeri şi despre cum îţi vei antrena gândirea creativă. Vei trece prin workshopuri de storytelling şi brainstorming, traininguri intensive de grafică şi copywriting, dezbateri despre printuri şi spoturi TV, şi studii de caz pe campanii integrate.  Vei trece chiar şi printr-o agenţie să vezi publicitatea la ea acasă.
  a(href="#cb-5")
    span.next
      i.icon-double-angle-right
      br
      span.text continuă
.step#cb-5(data-x="-2000", data-y="2000", data-z="2000", data-rotate-y="180")
  p Ai ocazia să demonstrezi că poţi rămâne creativ fără să te pierzi în propriile poveşti, căci în ultima zi, eşti chemat la pitch. Împreună cu echipa ta, vei prezenta execuţia briefului primit la începutul şcolii. Avem premii pentru cei mai eficienţi creativi, dar şi juriul are. Dacă te faci remarcat, te alegi cu un internship (Art sau Copy) direct în agenţie.
  a(href="#cb-6")
    span.next
      i.icon-double-angle-right
      br
      span.text continuă
.step#cb-6(data-x="-2000", data-y="4000", data-z="2000", data-rotate-y="0")
  p
    | Completează 
    a(href="#aplica") formularul
    |  până pe 10 mai şi dacă formula ta publicitară e pe gustul nostru, ne vedem la Alchemia, între 15 şi 24 mai. Aşa că eliberează-ţi agenda, dar şi sufrageria, căci avem un concurs şi lucruşoare faine de dat. 
    a(href="#concurs") Chiar aici
    | .