.step.concurs#concurs(data-x="1000", data-y="0", data-z="1000", data-rotate-x="0", data-rotate-y="-90", data-rotate-z="0")
  p 
    | "Bine, bine, dar ce face?"
    br
    | "E creativ."
    br
    | În publicitate, să fii doar creativ nu mai funcţionează. Eficienţa se naşte din creativitate, dar se şi pierde în ea. Totul depinde de mindsetul tău.
  p Ca să-ţi aduci aminte de asta punem la bătaie două obiecte la care utilitatea s-a pierdut în creativitate. Frumoase foc şi semnate Advice Crafts Team, le găseşti expuse în Control şi Panic până pe 15 mai.
  a.next(href="#bicicleta")
    span.next
      i.icon-double-angle-right
      br
      span.text vezi super obiectele

.step.concurs#bicicleta(data-x="2000", data-y="0", data-z="0", data-rotate-x="0", data-rotate-y="0", data-rotate-z="0")
  img(src="img/bicicleta.png", alt="bicicleta")
  a.next(href="#scaun")
    span.next
      span.text bicicleta cu roți pătrate
      br
      i.icon-double-angle-right

.step.concurs#scaun(data-x="3000", data-y="0", data-z="-1000", data-rotate-x="0", data-rotate-y="90", data-rotate-z="0")
  a(href="#castiga")
    span.next
      span.text câștigă-le!
      br
      i.icon-double-angle-right
  p.center scaunul caracatiță în dungi
  img(src="img/scaun.png", alt="scaun")

.step.concurs#castiga(data-x="3000", data-y="0", data-z="1000", data-rotate-x="0", data-rotate-y="90", data-rotate-z="0")
  p 
    | Intră pe pagina noastră de facebook, la albumul 
    a(href="https://www.facebook.com/media/set/?set=a.447843051959641.1073741826.123112544432695&type=1&uploaded=3", target="_blank") "Concurs Creativity Bluethings"
    | . Apoi dă un share imaginii cu obiectul pe care-l vezi în sufrageria ta. Nu uita să setezi nivelul de vizibilitate pe „Public” ca să-ţi vedem şi noi postarea. Vom alege câştigătorul prin random.org pe 23 mai.