.step.echipa#echipa(data-x="-2000", data-y="0", data-z="2000")
  p
    strong Maria Dumitriu
    |  – Project Manager
    br
    | maria.dumitriuu@gmail.com
    br
    | 0735 788 770
  p
    strong Bela Rinderu
    |  – Project Manager
    br
    | bela.rinderu@gmail.com
    br
    | 0735 510 414
  p
    strong Andreea Popescu
    |  – Project Manager Junior
    br
    | popescu.andreea92@gmail.com
    br
    | 0720 160 601
  a(href="#echipa-2")
    span.next
      i.icon-double-angle-right
      br
      span.text coordonatori
.step.echipa#echipa-2(data-x="-2000", data-y="0", data-z="4000", data-rotate-y="180")
  h5 Coordonatori
  p Copywriting – Annamaria Kozma
  p Art Direction – Ioana Ichim
  p Multimedia – Vlad Ioniţă
  p Crafts – Maria Şerban
  p PR – Andrei-Ionuţ Ursu
  p Media – Bianca Adăscăliţei
  p HR – Ema Bădângă
  p Vânzări – Marina Bălan, Florea Andreea Luiza
  p Web Development – Theodor Văraru
  a(href="#echipa-3")
    span.next
      i.icon-double-angle-right
      br
      span.text echipa de creație
.step.echipa#echipa-3(data-x="-2000", data-y="2000", data-z="2000")
  h5 Echipă Creaţie
  p Copywriting: Maria Dumitriu, Alex Doppelgänger, Alexandru Vasile-Bugarin
  p Art Direction: Raluca Ionescu, Vlad Ioniţă, Andrei Andronic
  p Multimedia: Ciprian Maxim, Andrei Popa
  p Crafts: Alin Ştefan, Mihai Stan

  h5 Echipă PR
  p Andreea Popescu, Mihai Mija, Andreea Bocriş, Consuela Popa

  h5 Echipă Media
  p Andra Șania, Alexandru Purcărea, Andreea Teiușanu, Andreea Cristina Popescu, Carmen Tronar, Dan Tonț

  h5 Echipă HR
  p Bela Rinderu, Schmidt Ionuţ, Adina Hulea
  h5 Echipă Vânzări 
  p William Leibovici, Alexandru Mircescu, Alina Ioana Sindie, Cătălin Tudor