.step.editii#editii(data-x="1000", data-y="4000", data-z="1000", data-rotate-y="90")
  p Nu mai ştim dacă a fost o zi cu soare sau dacă era Mercur retrograd. Se-nţelege, au trecut vreo 5 ani de atunci. În orice caz, când s-a născut Creativity Blueprints,  a fost o zi cu karmă bună. Voiam să facem o şcoală gratuită de creativitate care să formeze viitorii creativi din industria publicitară. Şi am făcut-o.

  p În timp ce îi ajutam pe alţii să crească, am crescut şi noi. De la 3 zile de workshopuri, la 10. De la teme generale, la unele focalizate şi actuale. De la multe nume importante din industrie, la foarte multe. În fiecare an am selectat 20 de studenţi care au avut ocazia să înveţe despre creativitate direct de la oameni din agenţii mari, de la jurnalişti, traineri, creativi şi planneri cu know-how. 

  p Şi ca la orice şcoală, au avut parte şi de examen: un brief de rezolvat şi de prezentat în faţa juriului. Cei care s-au remarcat au primit intershipuri în agenţii de publicitate. Şi poate, în câţiva ani, vor da ei internshipuri din juriul care i-a făcut publicitari adevăraţi.
  
  ul
    li 
      a(href="#editia-1") Ediţia 1
    li
      a(href="#editia-2") Ediţia 2
    li
      a(href="#editia-3") Ediţia 3
    li
      a(href="#editia-4") Ediţia 4
  
.step.editii#editia-1(data-x="1000", data-y="6000", data-z="1000", data-rotate-y="90")
  h6 Creativity Blueprints 1
  p Chiar de la prima ediţie, am vorbit despre creativitatea altfel. În 2008, la Orange Concept Store, ne îndemnam participanţii să rupă tiparele, să uite de clişee, să gândească în perspectivă, la 3600, să fie originali şi personali în creaţie. Cu ajutorul unor oameni ca Sorin Psatta, Costin Radu sau Mihai Botărel, am privit creativitatea în oglindă, din unghiuri diferite. Apoi am spart-o.
  p
    strong Brief:
    |  Advertise Creativity – campanie de publicitate pentru a promova creativitatea.
  strong Project Manageri:
  p Sorana Ioniţă şi Georgiana Ticu
  strong Speakeri:
  p Bogdan Grigore – Trainer Boom TV
  p Mihai Botărel – Copywriter Leo Burnett
  p Vlad Nancă – Artist
  p Laura Georgescu – A/V Production Director Leo Burnett
  p Sorin Psatta – Integrated Communication Director BBDO
  p Costin Radu – Managing Director IQAds
  
.step.editii#editia-2(data-x="2000", data-y="6000", data-z="0", data-rotate-y="180")
  h6 Creativity Blueprints 2
  p La a doua ediţie am fost pe val. Ne-am propus să ne cunoaştem rădăcinile publicitare şi să facem surfing printre metodele creative utilizate în diversele etape istorice ale advertisingului, toate în strânsă legătură cu arta. Aşa că, timp de 5 zile, tot la Orange Concept Store, am vorbit despre fascinaţia vintage-ului şi despre reinventarea lui astăzi, despre pop art şi tăticul lui, Andy Warhol, despre ultimele tendinţe în digitalul în care trăim, ca la final să oferim o lecţie de branding.
  p
    strong Brief:
    |  Branding Bucharest – o campanie de branding pentru a promova valorile culturale şi sociale ale Bucureştiului, folosind unul din curentele prezentate la workshopuri.
  strong Project Manageri:
  p Iulia Macadon şi Ana-Maria Ionescu
  strong Speakeri:
  p Alexandru Ţarog – Senior Account Manager, TBWA/Merlin
  p Bogdan Moraru – Art Director, Propaganda
  p Adrian Păsărică – Senior Copywriter, Mercury360
  p Ionuţ Mustaţă – Copywriter, Kondiment
  p Daniel Dobrin – Copywriter şi Mihai Gheorghe – Art Director, Propaganda
  p Mihai Căluşeriu – Senior New Media Creativ, MRM Worldwide
  p Mihai Calotă – Graphic Designer şi Vlad Bojan – Head of Design, Propaganda
  p Paul Olteanu – Fundraising and Marketing Manager, MaiMultVerde
  p Ciprian Bănică – Copywriter, Violet Advertising
  
.step.editii#editia-3(data-x="3000", data-y="6000", data-z="2000", data-rotate-y="270")
  h6 Creativity Blueprints 3
  p După 2 ani, ne-am dat seama că e mai bine în doi. Aşa că, în cele 7 zile de workshopuri, am întors pe toate feţele colaborarea creativă dintre un Art Director şi un Copywriter. Cum funcţionează echipa, ce rol are fiecare, cum arată un brainstorming, cum se îmbină cuvintele unuia cu imaginile celuilalt, cum rezolvă briefuri şi cum se înţeleg cu celelalte departamanete din agenţie. Despre toate astea au vorbit, la MNAC, cele mai mişto echipe de Art&Copy şi alţi oameni din industrie.
  p
    strong Brief:
    |  Advertise Museum Reopening – o campanie publicitară care să promoveze redeschiderea Muzeului Grigore Antipa.
  strong Project Manageri:
  p Raul Gheba şi Mihai Mija
  strong Speakeri:
  p Bogdan Grigore - Trainer
  p Valentin Suciu – Creative Director, Odyssey
  p Liviu David – Creative Director, Next Advertising
  p Gabriel Brănescu – Creative Director, Badcat
  p Cătălin Dobre – Creative Director Mccan 
  p Ionuț Cojocaru –  Senio Art Director Mccan
  p Radu Pilat – Art Director BTL, Momentum
  p Andrei Tripșa – Managing Partner, Three
  
.step.editii#editia-4(data-x="2000", data-y="6000", data-z="2000", data-rotate-y="180")
  h6 Creativity Blueprints 4
  p 
    | La a patra ediţie am vrut să arătăm că lucrurile nu sunt atât de simple cum par. Viaţa creativului este atractivă, dar are şi multe dificultăţi: idei respinse de client, de strategie, din lipsa de buget. Drumul către o idee bună este pavat cu alte idei respinse, spunea o vorbă de duh CB. În 7 zile de workshopuri la Grey-G2 şi Orange Concept Store, participanţii au aflat adevărurile nespuse ale departamentului de creaţie, nemulţumirile şi problemele cărora le fac faţă creativii în fiecare zi. Mai multe detalii 
    a(href="http://creativityblueprints.ro/cb4/desktop.html", target="_blank") pe site
    | .
  p
    strong Brief:
    |  Advertise Army – o campanie de publicitate care să promoveze recrutarea în armata profesionistă.
  strong Project Manageri:
  p Larisa Manu şi Marius Eftimie
  strong Speakeri:
  p Sorina Someşan şi Florina Alexandru – Senior Copywriter şi Senior Art Director, Grey-G2
  p Claudiu Dobriţă – Creative Director, DraftFCB
  p Veronica Mircea – Managing Director, DraftFCB
  p Gabriel Brănescu –  Creative Director, Badcat
  p Sorin Psatta – Integrated Communication Director, Graffiti BBDO
  p Radu Pilat – Creative Director, Momentum
  p Răzvan Căpănescu – Creative Director, Publicis
  p Şerban Alexadrescu – Creative Director, Headvertising
  p Laura Leonte – Group Creative Director, Grey
  p Sorin Trâncă – Creative Partner, Friends Advertising
  p Bojan Spasic – Senior Art Director, Friends Advertising
  p Luiza Vrânceanu – Account Manager, Grafitti BBDO
  p Andreea Golban – Senior Copywriter, Grafitti BBDO
  p Mihaela Kavdaska – Brazda lui Novak-Artskul
  p Vili Păcureţ – Freelancer