.step#home(data-x="0", data-y="0", data-z="0")
  .hero
    img.logo(src="img/cb.png")
    h2 
      | Când creativitatea o ia razna, află că
      br
      | ideile bune sunt mereu cele eficiente.
    p 
      | Pregăteşte-te pentru Creativity Blueprints, singura şcoală gratuită de creaţie în publicitate pentru studenţii din România.
    .buttons
      a(href="#cb")
        img.despre(src="img/home-despre.png", alt="")
      a(href="#program")
        img.program(src="img/home-program.png", alt="")
      a(href="#concurs")
        img.concurs(src="img/home-concurs.png", alt="")
    p.clearfix
      a(href="#cb")
        span.despre Despre
      a(href="#program")
        span.program Program
      a(href="#concurs")
        span.concurs Concurs
    a.btn(href="#aplica") Aplică
    p.advice
      | un proiect 
      a(href="http://www.advicestudents.ro/", target="_blank")
        img(src="img/advice.png", alt="advice")