.step#program(data-x="0", data-y="2000", data-z="0", data-rotate-y="180")
  h2
    i.icon-calendar
    |  Program
  ul
    li.day
      i.icon-comment
      |  Ziua 1: Intro
      i.icon-caret-down
      .description
        h6 Workshop 1 - Meet the team 15.00 - 16.30
        p Am apărut acum 11 ani şi experimentăm viaţa în industria creativă a Bucureştiului alături de sute de studenţi. După ce afli mai multe despre Advice şi despre zilele ce vor urma la Creativity Blueprints, îi vei cunoaşte mai bine pe noii tăi colegi cu ajutorul programului pregătit de echipa zâmbitoare de HR.
        p 
          strong Speakeri: Maria Dumitriu și Bella Rinderu (Project Manageri @ CB5), Ana Maria Munteanu (Președinte @ Advice)
        h6 Workshop 2 – Meet the creatives 16.30 - 18.00
        p La creativitate înainte! Ba, de data asta, înapoi. După ce ne-ai cunoscut mai bine, te provocăm cu un exerciţiu: gândirea creativă în sens invers. Analizând o execuţie ﬁnală, vei înţelege conceptul creativ şi insightul de la care s-a pornit. Tot azi primești brieful și afli care sunt ceilalți 3 creativi cu care îl vei rezolva în următoarele 9 zile.
        p 
          strong Speaker: Dana Pascu (Senior Strategic Planner @ Grey-G2)
    
    li.day
      i.icon-cog
      |  Ziua 2: Train your brain
      i.icon-caret-down
      .description
        h6 Workshop 1 - Exit the box 15.00 - 16.30
        p Ai parte de antrenamente intensive de lateral thinking pentru tine şi tinerii cu mindset alternativ.  Înveţi să-ţi disciplinezi gândirea şi creativitatea nu doar înainte de pitch, ci zi de zi. Briefurile se rezolvă cu o viziune panoramică de 360 şi totul începe căutând soluţii în afara „cutiuţei”.
        p
          strong Speaker: Sorin Psatta (Integrated Communication Director @ Grafitti BBDO)
        h6 Workshop 2 - Brainstorming 16.30 - 18.00
        p Când se pune pe treabă nu scoate fum, dar împrăştie scântei şi idei colorate. Creativul la capacitate maximă este creativul într-un brainstorming. De aceea, vom simula unul adevărat, alături de un maestru în strategie care îţi va coordona ﬂuxul de gândire. 
        p
          strong Speaker: Silviu Pădurariu (Creative Director @ Marks)
    
    li.day
      i.icon-cogs
      |  Ziua 3: Art & Copy in action
      i.icon-caret-down
      .description
        h6 Workshop 1 - Training for singles 15.00 - 16.30
        p Separăm jumătăţile creative, atât cât să facem reîntâlnirea şi mai creativă. Fie că eşti Copywriter sau Art Director, intri într-un training intensiv la separeu şi primeşti o porţie zdravănă de lecţii şi ponturi despre cum scriu sau desenează profesioniştii în publicitate.
        p
          strong Speakeri: Mihnea Gheorghiu (Creative Director @ Publicis), Bogdan Moraru (Creative Director @ Propaganda)
        h6 Workshop 2 - Brand building for doubles 16.30 - 18.00
        p Odată reîntors în echipă, afli cum se construieşte o identitate de brand – cu nume, logo şi slogan - în funcţie de valorile şi viziunea unei companii. Dar nu te lăsăm să pleci fără să ne arăţi ce ai învăţat. Se lasă cu un brief de rezolvat sub îndrumarea maeştrilor din industrie.
        p
          strong Speakeri: Ştefan Liuţe (Strategy Director @ Storience), Adriana Liuţe (Managing Partner @ Storience)
    
    li.day
      i.icon-file-alt
      |  Ziua 4: Storytelling
      i.icon-caret-down
      .description
        h6 Workshop 1 – What’s a story 15.00 - 16.30
        p Toată lumea iubeşte poveştile. În publicitate, poveştile bune sunt simple, dar complicat de făcut. Fie că folosesc cuvinte sau imagini, povestitorii brandurilor nu trebuie să-şi piardă magia. Te prinzi cum se realizează poveştile de-neadormit-copiii şi care e locul lor în publicitate.
        p
          strong Speaker: Gabriel Dobre (Senior Editor @ Decât o Revistă)
        h6 Workshop 2 – How to make a story 16.30 - 18.00
        p Spotul TV este cea mai complexă poveste spusă de industria publicitară. Făuritorii de texte vor afla cum se scrie un script, iar creatorii de imagini cum se realizează un storyboard. Şi pentru că ne place creativitatea practică, te punem la  încercare: ai 30 de minute pentru un spot de 30 de secunde.
        p
          strong Speakeri: Sandra Bold (Copywriter @ Saatchi & Saatchi, Șerban Mocanu @ Saatchi & Saatchi)
    
    li.day
      i.icon-double-angle-down
      |  Ziua 5: Going deeper (Optional)
      i.icon-caret-down
      .description
        h6 Workshop 1 – How to: TV Spot 15.00 - 16.30
        p Câte ore de muncă se află în spatele unui minut publicitar? Realizarea unui spot TV este o activitate de proporţii care necesită o bună colaborare între toate departamentele. Vorbim despre regie, sound design, video cu oameni care lucrează ziua în producţie, noaptea în creaţie.
        p
          strong Speaker: Andrei Nica (Motion Graphic Artist @ Sendal)
        h6 Workshop 2 – Art vs. Advertising 16.30 - 18.00
        p Are publicitatea spiritul liber al artei? Sau arta spiritul pragmatic al creaţiei pubicitare? Vino la o dezbatere despre creativitate şi aﬂă de la un specialist în ambele domenii dacă spiritul artistic e potrivit în publicitate şi de ajuns pentru reuşita unei campanii. 
        p
          strong Speaker: TBA
    
    li.day
      i.icon-bar-chart
      |  Ziua 6: Above & Below
      i.icon-caret-down
      .description
        h6 Workshop 1 – The eternal print 15.00 - 16.30
        p Declinarea unui key visual în print, un canal de comunicare veşnic şi mereu reinventat, poate ﬁ complicată. Cum reuşeşti să scrii povestea într-o singură imagine şi să nu-ţi pierzi esenţa, relevanţa sau mintea? Află cum să ﬁi creativ şi eﬁcient când vine vorba de printuri.
        p
          strong Speaker: Marc Borțun (Senior Art Director & Creative Partner @ Rusu + Borțun Brand Growers), Mircea Crăciun (Senior Copywriter @ Rusu + Borțun Brand Growers)
        h6 Workshop 2 – Forget about conventional 16.30 - 18.00
        p Astăzi e aproape imposibil să-ţi scoţi brandul din mulţime folosind doar ATL. Fie că optezi pentru un poster gigantic sau un mesh 3D la metrou, important e să-ţi atingi scopul. După ce te prinzi cum reuşesc creativii să comunice neconvenţional şi eficient, te provocăm cu un brief.
        p
          strong Speakeri: Cristina Cenușe (BTL Director @ Lowe & Partners), Andreea Daniel (Mobile Works)
          
    li.day
      i.icon-desktop
      |  Ziua 7: Digital
      i.icon-caret-down
      .description
        h6 Workshop 1 – Go viral 15.00 - 16.00
        p Intrigante şi amuzante, viralele par uneori să nu aibă nici cel mai mic dram de logică, dar generează buzz şi notorietate cum nu o face nimic altceva. Tocmai de aceea, spoturile virale nu se nasc peste noapte, iar reţeta succesului pare a ﬁ un complicat proces creativ.
        p
          strong Speaker: John Riley (Fondator @ Sector 7)
        h6 Workshop 2 – Augmented reality 16.00 - 17.00
        p Când vine vorba de realitate augmentată, poveştile prind viaţă. Şi nu glumim. Noua tehnologie uimitoare, una dintre cele mai spectaculoase forme de prezentare a unei idei, este folosită din ce în ce mai des de creativii din agenţiile de publicitate.
        p
          strong Speaker: Vasile Alboiu (Creative Director @ Senior Interactive)
        h6 Workshop 3 – Facebook App 17.00 - 18.00
        p Pentru că universul online are din ce în ce mai mulţi vieţuitori, companiile încep să se facă auzite şi aici, iar digitalul şi aplicaţiile de pe Facebook câştigă tot mai mult teren. După ce afli cum lucrează creativii pe un astfel de brief, te gândeşti împreună cu echipa ta la un mecanism de joc.
        pe
          strong Speaker: TBA
    
    li.day
      i.icon-map-marker
      |  Ziua 8: Creativity out of the lab
      i.icon-caret-down
      .description
        h6 Workshop 1 – All possible ways 15.00 - 16.30
        p Provocarea cea mai mare a creativului este campania integrată. Jongleriile cu mai multe canale de comunicare sunt riscante, iar mesajul îşi pierde adesea relevanţa. Cum îmbini creativitatea cu eﬁcienţa într-o campanie integrată de succes afli chiar azi.
        p
          strong Speaker: Răzvan Mătășel (Managing Partner @ Arsenoaiei & Mătășel)
        h6 Workshop 2 – Hit the “client wall” 16.30 - 18.00
        p Cum ar arăta publicitatea dacă n-ar exista feedbackul clienţilor? Nu vom şti niciodată. Dar ne putem imagina pentru o zi. Relaţia cu clienţii este uneori complicată, iar ideile creativilor suferă lungi transformări. Vorbim despre inﬂuenţa clienţilor asupra relevanţei conceptului creativ.
        p
          strong Speakeri: Diana Alexa (Brand Communication Director @ Leo Burnett), Irina Becher (Senior Copywriter @ Leo Burnett)
    
    li.day
      i.icon-user
      |  Ziua 9: Agency vs. Freelancing
      i.icon-caret-down
      .description
        h6 Workshop 1 – Agency experience 15.00 - 16.30
        p Poţi vizita lumea pe Google Maps, dar o imagine uneori nu e de ajuns. Oricât de mult am vorbi despre departamentele de creaţie din agenţii, nu poţi şti cu adevărat cum e până nu ajungi în unul. Aşa că te trimitem să respiri aerul creativilor din cele mai mari agenţii din Bucureşti.
        p
          strong Agenţii partenere: TBA
        h6 Workshop 2 – Boss, what boss
        p Chiar dacă sunt scutiţi de traﬁcul de dimineaţă, freelancerii nu pot ocoli deadline-urile, disciplina sau profesionalismul. Vezi ce fel de briefuri primesc freelancerii, afli rolul lor în colaborările cu agenţiile de publicitate şi de ce aleg acestea să îşi externalizeze unele proiecte.
        p
          strong Speakeri: Andrei Iordache (FreelanceSenior Copywriter; Creative Director & Co-Founder @ UPDIVISION), Andrei Robu (Typography & Brand Design Freelancer)
    
    li.day
      i.icon-trophy
      |  Ziua 10: Pitch
      i.icon-caret-down
      .description
        p După nouă zile de workshopuri în care ai învăţat lucruri noi și după o zi în agenţie ca să simţi pulsul industriei, a venit momentul pitchului. În echipe, îţi vei susţine creaţiile în faţa juriului. Cei care se fac remarcaţi câştigă premii mişto şi chiar internshipuri în agenţiile de publicitate.