.step.test#test-1(data-x="1000", data-y="2000", data-z="1000", data-rotate-y="-90")
  h6 1/5
  h3 Care din următoarele lucruri le-ai spune şi tu?
  ol
    li
      a(href="#test-2", onclick="App.quiz[1] = 'a';") "Creative without strategy is called 'art.' Creative with strategy is called ‘advertising'.”- Jef I. Richards
    li
      a(href="#test-2", onclick="App.quiz[1] = 'b';") "It's not enough that we do our best; sometimes we have to do what's required."– Winston Churchill
    li
      a(href="#test-2", onclick="App.quiz[1] = 'c';") "It takes courage to be creative. Just as soon as you have a new idea, you are a minority of one."– E. Paul Torrance

.step.test#test-2(data-x="2000", data-y="3000", data-z="1000", data-rotate-x="-90", data-rotate-z="-90")
  h6 2/5
  h3 Când trebuie să faci ceva super important, cel mai probabil:
  ol
    li
      a(href="#test-3", onclick="App.quiz[2] = 'a';") Răscoleşti internetul, biblioteca ta şi pe-a prietenilor.
    li
      a(href="#test-3", onclick="App.quiz[2] = 'b';") Te întrebi mereu dacă eşti pe filmul potrivit.
    li
      a(href="#test-3", onclick="App.quiz[2] = 'c';") Eşti chill că ideea bună vine când nu o cauţi.
  a(href="#test-1") Înapoi

.step.test#test-3(data-x="2000", data-y="1000", data-z="1000", data-rotate-x="90", data-rotate-z="-90")
  h6 3/5
  h3 Unde eşti când te gândeşti?
  ol
    li 
      a(href="#test-4", onclick="App.quiz[3] = 'a';") Aici.
    li
      a(href="#test-4", onclick="App.quiz[3] = 'b';") Acolo.
    li
      a(href="#test-4", onclick="App.quiz[3] = 'c';") Peste tot.
  a(href="#test-2") Înapoi

.step.test#test-4(data-x="2000", data-y="2000", data-z="0", data-rotate-x="0", data-rotate-y="0", data-rotate-z="0")
  h6 4/5
  h3 Cel mai des când eşti la job:
  ol
    li
      a(href="#test-5", onclick="App.quiz[4] = 'a';") Te gândeşti la o nouă idee de business mişto.
    li 
      a(href="#test-5", onclick="App.quiz[4] = 'b';") Sapi după articole pe net şi te scufunzi în brainstorming.
    li
      a(href="#test-5", onclick="App.quiz[4] = 'c';") Furi şerveţelele colegilor ca să-ţi schiţezi ideile.
  a(href="#test-3") Înapoi

.step.test#test-5(data-x="3000", data-y="2000", data-z="1000", data-rotate-y="90")
  h6 5/5
  h3 Dacă ziua ar începe când soarele apune?
  ol
    li
      div(onclick="App.quiz[5] = 'a'; App.get_answer();") Nu se poate. Imposibil. Trebuia să ştiu de asta.
    li
      div(onclick="App.quiz[5] = 'b'; App.get_answer();") Totul ar fi la fel. PM sau AM, nu contează.
    li
      div(onclick="App.quiz[5] = 'c'; App.get_answer();") N-aş mai întârzia la job.
  a(href="#test-4") Înapoi