.step.test#result-a(data-x="0", data-y="4000", data-z="0", data-rotate-x="0", data-rotate-y="0")
  h2 Deep as the Sea
  p Tu eşti Creativul Savant. Răscoleşti tot netul înainte să te apuci de ceva şi nu te mai saturi citind. Eşti alergic la superficialitate. Gândeşti mult lucrurile şi ideea vine greu dar, de cele mai multe ori, e una genială.
  p
    | Avantaje: ideile tale sunt interesante, sensibile şi cu înţelesuri profunde.
    br
    | Dezavantaje: te mişti încet şi câteodată te pierzi în profunzimi.
  p Scapă de dezavantaje, descărcând formularul de mai jos. Completează-l cu atenţie şi trimite-l pe recrutare@advicestudents.ro nu mai târziu de 10 mai, ora 23:59.
  a.btn(href="components/formulare/sea.docx")
    i.icon-download-alt
    |  Download (5 MB)

.step.test#result-b(data-x="0", data-y="-2000", data-z="0", data-rotate-x="0", data-rotate-y="0")
  h2 The Sky is the Limit
  p Tu eşti Creativul-Ca-La-Carte. Nu îţi place să te arunci cu capul înainte. Nu fugi de nebunie, dar o ponderezi şi  îţi place să faci lucrurile cât mai corect. Eşti brici la teorie, la nivelul cel mai înalt: idei ca la carte, fără cusur.
  p 
    | Avantaje: niciodată nu au ce să-ţi reproşeze, ideile tale sunt impecabile.
    br
    | Dezavantaje: te încăpăţânezi să faci mereu ce e sigur şi uiţi că uneori e mai eficient să fii neconvenţional.
  p Scapă de dezavantaje, descărcând formularul de mai jos. Completează-l cu atenţie şi trimite-l pe recrutare@advicestudents.ro nu mai târziu de 10 mai, ora 23:59.
  a.btn(href="components/formulare/sky.docx")
    i.icon-download-alt
    |  Download (5 MB)

.step.test#result-c(data-x="0", data-y="-4000", data-z="0", data-rotate-x="0", data-rotate-y="0")
  h2 The Sky is Not the Limit
  p Tu eşti Creativul Într-o Ureche. Clar nu eşti normal. La birou râzi şi dormi. Mai uiţi de deadlineuri, dar uită şi ele de tine căci idei noi îţi vin mereu. Convenţional? Clişeu? Obişnuit? Noţiuni fără sens. Revoluţionezi şi personalizezi tot ce atingi.
  p 
    | Avantaje: idei ca ale tale n-a văzut Parisul – eşti original, inventiv, neconvenţional.
    br
    | Dezavantaje: tinzi să fii iraţional, iar creativitatea ta este uneori irelevantă.
  p Scapă de dezavantaje, descărcând formularul de mai jos. Completează-l cu atenţie şi trimite-l pe recrutare@advicestudents.ro nu mai târziu de 10 mai, ora 23:59.
  a.btn(href="components/formulare/cosmos.docx")
    i.icon-download-alt
    |  Download (5 MB)