.navbar
  .navbar-inner
    ul.nav
      li
        a(href="#home")
          span.brand
            img(src="img/logo.png", alt="logo")
      li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          span
            | Despre
            b.caret
        ul.dropdown-menu
          li
            a(href="#cb")
              span CB5
          li
            a(href="#parteneri")
              span Parteneri
          li
            a(href="#advice")
              span Advice
          li
            a(href="#echipa")
              span Echipă
          li
            a(href="#editii")
              span Alte Ediții
      li
        a(href="#program")
          span Program
      li
        a(href="#aplica")
          span Aplică
      li
        a(href="#concurs")
          span Concurs

#impress
  include _home
  
  include _cb
  include _program
  
  include _aplica
  include _test
  include _test_results
  
  include _concurs
  
  include _parteneri
  include _advice
  include _echipa
  
  include _editii
  
  .step#overview(data-x="0", data-y="0", data-z="0", data-rotate-x="45", data-rotate-y="-45", data-rotate-z="45", data-scale="10")
  
  .step#pink(data-x="0", data-y="0", data-z="-1")
  