!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no')
    link(rel="image_src", href="img/scaun.png")
    meta(name='description', content='Creativity Blueprints, singura şcoală gratuită de creaţie în publicitate pentru studenţii din România.')
    
    title Creativity Blueprints 5
    link(rel='stylesheet', href='css/master.css')
    link(rel='stylesheet', href='components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='components/antiscroll/antiscroll.css')
      
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40357921-1', 'creativityblueprints.ro');
      ga('send', 'pageview');
    
  body.impress-not-supported
    .too-bad
      h1 Hopa, a fost întâmpinată o problemă :(
      p
        | Browserul tău nu poate să redea varianta completă a site-ului Creativity Blueprints 5. În schimb, nu putem decât să îți oferim varianta asta simplificată. Pentru a îl vizualiza în mod corect, te rugăm sa instalezi 
        a(href="https://www.google.com/intl/ro/chrome/browser/", target="_blank") Google Chrome
        |  sau 
        a(href="http://www.mozilla.org/ro/firefox/new/", target="_blank") Mozilla Firefox
        | .
      // if IE
        p
          | Dacă nu ai drepturi de administrator sau preferi Internet Explorer în locul altor browsere, recomandăm să instalezi 
          a(href="http://www.google.com/chromeframe?quickenable=true", target="_blank") Google Chrome Frame
          | .
    .container
      .navbar
        .navbar-inner
          ul.nav
            li
              a(href="#home")
                span.brand
                  img(src="img/logo.png", alt="logo")
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                span
                  | Despre
                  b.caret
              ul.dropdown-menu
                li
                  a(href="#cb")
                    span CB5
                li
                  a(href="#parteneri")
                    span Parteneri
                li
                  a(href="#advice")
                    span Advice
                li
                  a(href="#echipa")
                    span Echipă
                li
                  a(href="#editii")
                    span Alte Ediții
            li
              a(href="#program")
                span Program
            li
              a(href="#aplica")
                span Aplică
            li
              a(href="#concurs")
                span Concurs

      #impress
        include _home
  
        include _cb
        include _program
  
        include _aplica
        include _test
        include _test_results
  
        include _concurs
  
        include _parteneri
        include _advice
        include _echipa
  
        include _editii
  
        .step#overview(data-x="0", data-y="0", data-z="0", data-rotate-x="45", data-rotate-y="-45", data-rotate-z="45", data-scale="10")
  
        .step#pink(data-x="0", data-y="0", data-z="-1")

  script(data-main="js/main", src="components/antiscroll/deps/jquery.js")
  script(data-main="js/main", src="components/impress.js/js/impress.js")
  script(data-main="js/main", src="js/main.js")
  script(data-main="js/main", src="js/bootstrap-dropdown.min.js")

  != livereload